@mixin button-style($background, $color) {
    background-color: $background;
    color: $color;
    &:hover {
        background: darken($background, 10%);
        transition: all .3s ease;
    }
}

.btn {
    width: 200px;
    padding: 10px 0;
    background-color: none;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
    &.btn-laranja {
        @include button-style($color-1, #FFF)
    }
    &.btn-vermelho {
        @include button-style($color-2, #FFF)
    }
    &.btn-azul {
        @include button-style($color-3, #FFF)
    }
    &.btn-roxo {
        @include button-style($color-4, #FFF)
    }
}